.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px; 
    min-height: 100px; 
    width: auto; 
    height: auto; 
}

.id {
    color: #a8a8a8;
    font-size: 1rem;
    font-weight: normal;
}

.title {
    font-size: 1rem;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
}

.info {
    margin-bottom: 4px;
    font-size: 0.9rem;
    color: #a8a8a8;
}

.ellipsis {
    position: relative;
    left: 5px;
    bottom: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
  }
  
  .variables {
    display: none;
  }
  
  .variables.show {
    display: block;
  }